.top {
  width: 780px;
  padding: 0 10px;
}
.banner {
  font-size: 48px;
  text-align: center;
}
.item-container {
  display: flex;
  flex-direction: column;
  font-size: 36px;
}
.item {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 150px 2fr 0.5fr;
}
.item > img {
  width: 150px;
}
.item > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-order {
  justify-self: end;
}
input {
  width: 20px;
  height: 20px;
}
iframe {
  border: none;
}
#enable-status {
  position: fixed;
  bottom: 0px;
  font-size: 36px;
  display: inline-block;
  background-color: red;
}
#enable-status::after {
  content: "Click-jacking prevention disabled.";
}
#enable-status.enabled {
  background-color: green;
}
#enable-status.enabled::after {
  content: "Click-jacking prevention enabled.";
}
#show-hide {
  color: lightgray;
  font-size: 36px;
  align-self: center;
  margin-left: 10px;
}
#transition-container {
  position: relative;
  left: 480px;
  transition-property: left;
  transition-duration: 2s;
  display: flex;
}
#freebeer {
  pointer-events: none;
  border-radius: 30px;
  border: 2px outset gray;
  width: 296px;
  height: 146px;
  background-image: url(img/beer.png);
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#freebeer::after {
  content: "Free beer!";
  text-align: center;
  font-family: sans-serif;
  font-size: 56px;
  font-weight: bolder;
  color: red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: steps(2);
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}
#response {
  display: inline-block;
  font-size: 36px;
  text-align: center;
}
@keyframes blink {
  0% {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}
